
.grid {
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .grid-row {
    display: flex;
  }
  
  .block {
    width: 15px;
    height: 15px;
    border: 0.5px solid lightgray;
  }
  
  .block+.block {
    border-left: 0px;
  }
  